.container{
    background-color: beige;
    border: solid;
    width: 280px;
    height: 226px;
}

.row1{
    width: 280px;
    height: 50px;
    border: solid;
    background-color: transparent;

}
.row2 {
    width: 280px;
    height: 50px;
    border: solid;
    background-color: transparent;

}
.row3 {
    width: 280px;
    height: 50px;
    border: solid;
    background-color: transparent;

}
.row4 {
    width: 280px;
    height: 50px;
    border: solid;
    background-color: transparent;

}

.row1Cell{
    width: 50px;
    height: 50px;
    
}
.column1{
    height:226px;
    width:50px;
    border-right: solid;
}

.row2Cell{
    width: 50px;
    height: 50px;
}
.column1 {
    height: 226px;
    width: 50px;
    border-right: solid;
}
.column2{
    height: 226px;
    width: 50px;
    border-right: solid;
}